# dependencies

/node_modules

# next.js

/.next
/out

# production

/build

# logs

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel

.vercel

# typescript

*.tsbuildinfo

# IDE

.vscode/*
!.vscode/extensions.json
.idea

# OS files

.DS_Store
Thumbs.db

# coverage

/coverage

# turbo

.turbo

# cache

.cache

# playwright

/playwright-report
/test-results
